.headpage{
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.container{
    background-color:rgb(218, 168, 77);
    border-radius: 10px;
    width: 500px;
    height: 400px;
}

.containerheader{
    border-radius: 10px;
    background-color:chocolate;
    width: 500px;
    height: 80px;
}

.containerheader .containerimg{
    background-image: url("burnout.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 54px;
}

.containerheader .settings{
    width: 500px;
    height: 80px;
    font-size: 25px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.settings{
    margin-top: 10px;
}

.berkantext{

}

.check-box {
    display: flex;
    margin-left: -150px;
    margin-top: -20px;
	transform: scale(0.4);
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 100px;
    height: 50px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

input:checked[type="checkbox"] {
    background: #f5c265;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 50%;
}